<html>
<head>
	<title> Debug page for the backend</title>
	<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container-fluid">
      <div class="row-fluid">
        <div class="span12" id="debug">
          <ul class="nav nav-tabs" id="tabs">
          </ul>
           
          <div class="tab-content" id="content">
          </div>
        </div>
      </div>
  </div>

  <script type="x-text/template" id="template-table">
    <table class="table table-striped">
      <thead>
        <tr>
          <% _.each(fields, function(field) { %>
            <th><%= field %></th>
          <% }); %>
        </tr>
      </thead>
      <tbody>
        <% _.each(models, function(model) { %>
          <tr>
            <% _.each(fields, function(field) { %>
              <td><%= JSON.stringify(model.get(field)) %></td>
            <% }); %>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </script>
  <script src="/static/js/lib/jquery.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/lib/underscore.js"></script>
    <script src="/static/js/lib/backbone.js"></script>
    <script src="/static/js/lib/socket.io.js"></script>  
    <script src="/static/js/backbone-ws.js"></script>
    <script src="/static/js/models.js"></script>
    <script src="/static/js/collections.js"></script>
    <script src="/static/js/collections-prod.js"></script>
    <script src="/static/js/debug.js"></script>

</body>
</html>