<html>
  <head>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/backbone.js"></script>
    <script src="http://cdn.socket.io/stable/socket.io.js"></script>
    <script src="/static/js/backbone-ws.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
  <body>
    <h1>SD2013</h1>
    <div id="mainview">

    </div>

    <!-- backbone templates -->
    <script id="mainview-template" type="text/html">
      <header>
        <a id="lightViewButton" href="#">Light View</a>
      </header>
      <content>
        <!-- filled with a subview -->
      </content>
    </script>
    <script id="lightlistview-template" type="text/html">
      LightView
    </script>
  </body>
</html>