.header{
	height: 50px;
	position: relative;
	color: whitesmoke;
}

.databoxicon{
	margin: 5px 0 0 5px;
	height: 40px;
	width: 40px;
}

.dataviewselection{
	position: absolute;
	width: 80%;
	right: 0;
	top: 0;
}

.dataviewselection span {
    /* style this span element so we can display nicely, 
    this stlying is not neccessary */
    text-align: center;
    display: block;
    float: right;
    margin-right: 20px;
    padding-top: 12px;
    font-size: 25px;
}

.dataviewselection input[type='radio']{
	display: none;
}


.dataviewselection input[type="radio"] + label{
    /* keep pointer so that you get the little hand showing when you are on a button */
    cursor: pointer;
    /* the following are the styles */
    padding: 15px;
    background: rgba(0,0,0,0);
    color: rgba(245,245,245,1);

}

input[type="radio"]:checked + label{
    /* style for the checked/selected state */
    font-family: 'Lato-light';
    background: rgba(245,245,245,1);
    height: 100%;
    width: 100%;
}

.content{
	height: 375px;
	-webkit-box-shadow: 0 0 45px #383838;
}