.graph{
	background-color: rgba(43, 52, 61, 1);
	height: 100%;
	width:100%;
}

#graphholder{
	float:left;
	height:100%;
	width:100%;
}

.loadingicon{
	margin: 9% 0 0 40%;
}

.graphline{
	stroke-width: 2px;
/*	stroke: rgba(43, 52, 61, 1);*/
}

circle{
	stroke-width: 3px;
	stroke: rgba(43, 52, 61, 1);
}

.x-axis text,
.y-axis text{
	fill: rgba(245,245,245,0.6);
}