#controller{
    position: relative;
}

.panel{
    border-radius: 5px;
}

.icon{
    position: absolute;
    height: 30px;
    width: 20px;
    top: 5px;
    left: 5px;
    z-index: 2;
}

#hvac{
    position: relative;
    height: 160px;
    width: inherit;
    background-color: #E41C44;
}

#hvac .icon{
    height: 40px;
}

#hvacdataholder{
    position: absolute;
    left: 5px;
    top:5px;
    width: 100px;
}

.hvacdatacat{
    font-size: 10px;
    vertical-align: text-bottom;
}

.hvacdataval{
    font-size: 25px;
}

#hvaccontrollerwrapper{
    position: absolute;
    right: 0px;
    width: 80px;
    height: inherit;
}

#hvaccontroller{
    position: relative;
    width: inherit;
}

#hvaccontrollerup,
#hvaccontrollerinput,
#hvaccontrollerdown{
    position: absolute;
    left: 0px;
    height: 0px;
    width: 0px;
}

#hvaccontrollerup{
    top: 10px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 35px solid rgba(0, 0, 0, 0.41);
}

#hvaccontrollerinput{
    top: 65px;
}

#hvaccontrollertemp{
    position: inherit;
    font-family: "neou";
    color: whitesmoke;
    font-size: 30px;
    background-color: inherit;
    border-width: 0px;
    width: 65px;
    height: 40px;
}

#hvaccontrollertemp::-webkit-outer-spin-button,
#hvaccontrollertemp::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#hvaccontrollerdown{
    top: 115px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 35px solid rgba(0, 0, 0, 0.41);
}

#power{
    position: relative;
    margin-top: 10px;
    height:110px;
}

.powergraphdiv{
    position: relative;
    width: inherit;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    background-color: #343434;
}

.surplus{
    background-color: rgb(92, 202, 92);
}

.deficiency{
    background-color: rgb(255, 77, 77);
    background-color: #E41C44;
}

#liquidentertainment{
    position: relative;
    margin-top: 10px;
    height: 70px;
}

#water{
    position: absolute;
    left:0;
    height: inherit;
    width:95px;
    background-color: #04BCE4;
}

#media{
    position: absolute;
    right:0;
    height: inherit;
    width:95px;
    background-color: #646464;
}

#media .icon{
    width: 30px
}

#net{
    font-size: 16px;
}

.controltext{
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 3;
}

.dataholderabove{
    position: absolute;
    bottom: 0;
    right: 0px;
    text-align: right;
}

.dataholderbelow{
    text-align: right;
}

#controller h3{
    left: 5px;
}