.hvacpagecontent{
	height: 100%;
	width:100%;
}

.top{
	margin-top: 5px;
	text-align: right;
	float:left;
	height: 25%;
	width: 100%;
	-webkit-box-shadow: 0 0 45px #383838;
}

.bottom{
	float:left;
	height: 300px;
	margin-top: 20px;
	background-color: rgba(0,15,30,0.8);
}

.netwrapper{
	border-top: 5px solid;
}

.netcontent{
	height: 100%;
	width: 100%;
	position:relative;
	overflow: hidden;
}

#taskbarwrapper{
	height:100%;
	width:100%;
}

#thermostatwrapper{
	float:left;
	width: 300px;
}

#weekviewwrapper{
	float:right;
	color:rgba(173,50,50,1);
	width: 600px;

}