/* Control Page CSS */
#topbar-wrapper{
	position:relative;
	float: left;
	height: 75px;
	width: 100%;
	z-index: 1;
}

.pagetitle{
	float: left;
	margin-left: 15px;
	width: 300px;

	overflow-x: hidden;
	text-overflow: ellipsis;
}

.home-nav{
    height: 75px;
    width: 75px;
    float: left;
    background: rgb(26, 26, 26);
}

.topbar{
	float:right;
	width: 630px;
}

.main-nav{
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: inherit;
}

.main-nav li{
	margin-right: 10px;
	position: relative;
	display:inline;
	float:left;
	height: 75px;
	width: 75px;
	opacity: 0.8;
	
	border-width: 0px 5px 5px 0px;
	/*border-width: 5px 0px 0px 4px;*/


	border-style: inset;
	border-color: rgba(0, 0, 0, 0.2);

	border-left-color: rgba(0, 0, 0, 0.5);
	border-right-color: rgba(0, 0, 0, 0.5);
}

.slider{
	position:absolute;
	right:0;
    height: 100%;
    width:0;
}

.icon-nav img{
	margin: 5px 0px 0px 8px;
	width: 60px;
	height: 60px;
}

#dashboard-wrapper{
	float: right;
	margin-top: 20px;
	background-color: rgba(245, 245, 245, 0);
	width: 100%;
	height: 85%;
	opacity: 0;
}

.main-nav li#en{
	background-color: rgb(228, 26, 26);
}

.main-nav li#zh{
	background-color: rgb(20, 49, 167);
}

.main-nav li h2{
	font-family: 'Lato-bold';
	color: rgb(228, 228, 228)
}

.main-nav li#en h2{
	margin: 15px 0 0 7px;
	font-size: 30px;
}

.main-nav li#zh h2{
	margin: 17px 0 0 13px;
	font-size: 35px;
}