/* Control Page CSS */
#topbar-wrapper{
	position:relative;
	float: left;
	height: 75px;
	width: 100%;
	z-index: 1;
}

.pagetitle{
	float: left;
	margin-left: 15px;
}

.home-nav{
    height: 75px;
    width: 75px;
    float: left;
    background: rgb(26, 26, 26);
}

.topbar{
	float:right;
	width: 550px;
}

.main-nav{
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: inherit;
}

.icon-nav{
	margin-right: 15px;
	position: relative;
	display:inline;
	float:left;
	height: 75px;
	width: 75px;
	opacity: 0.8;
	-webkit-box-shadow: 0 0 45px #383838;
}

.slider{
	position:absolute;
	right:0;
    height: 100%;
    width:0;
}

.icon-nav img{
	margin: 5px 0px 0px 8px;
	width: 60px;
	height: 60px;
}

#dashboard-wrapper{
	float: right;
	margin-top: 35px;
	background-color: rgba(245, 245, 245, 0);
	width: 100%;
	height: 85%;
	opacity: 0;
}