.taskbar{
	height: 100%;
	width:100%;
}

.historybuttons{
	background-color: rgba(0, 15, 30, 0.8);
	float:left;
	height: 100%;
	width: 13%;
}

.historybuttonslist{
	height:100%;
	list-style: none;
}

.historybuttonslist li{
	height: 33.33333%;
}

button.histdata{
	float:left;
	width: 100%;
	height: 100%;
    font-family: 'lato-thin';
	font-size: 20px;
	color: rgba(245, 245, 245, 0.6);
	background-color: rgba(0,0,0,0);
	border: solid 0px;
	border-bottom: solid 1px rgba(245, 245, 245, 0.2);
	border-right: solid 1px rgba(245, 245, 245, 0.2);
}

button.histdata.selected{
	color: rgba(245, 245, 245, 1);
	background-color: rgba(85,160,85,1);
}

.graphwrapper{
	float: left;
	height: 100%;
	width: 70%;
}

.statuswrapper{
	float: left;
	height: 100%;
	width: 30%;
}

.timeselection{
	height: 64px;
	background-color:rgba(43, 52, 61, 1);
	position:relative;
}

.timeselection p{
	position:absolute;
	top: 18px;
	left: 75px;
	font-size: 30px;
	font-family: 'Lato-light'
}

