/* Status Page Css */
.dashboard{
	float: right;
	height: 90%;
	width: 100%;
}

.home-status-wrapper{
	height:100%;
	width:100%;
	opacity: 1;
}

.status-pane{
	-webkit-box-shadow: 0 0 45px #383838;
	position: relative;
	float: left;
	border-bottom-style: solid;
	border-width: 3.5px;
	background-color:  rgba(2, 12, 27, 0.8);
}

.status-pane > h2{
	margin: 0 0 2px 10px;
	position: absolute;
	bottom: 0;
}

.status-box{
	height: 100%;
	padding: 0 0 0 5px;
	text-align: right;
}

.status-box .notdata{
	color:whitesmoke;
	opacity:1;
}

.toppanes .data{
	font-size: 65px;
}

.middlepanes .data{
	font-size: 60px;
}

.consumption{
	color:rgb(173, 50, 50);
}

.status-box .unit{
	font-size: 25px;
}

.toppanes{
	height: 40%;
	width: 100%;
}

.toppanes > div{
	height: 100%;
	width: 45%;
	margin: 0 2% 2% 2%;
}

.toppanes .status-box{
	width: 80%;
	margin: 0 0 0 19%;
}

.middlepanes{
	height: 35%;
	width: 100%;
}

.middlepanes > div{
	height: 100%;
	width: 28%;
	margin: 0 1% 2% 3%;
}

.middlepanes .status-box{
	width: 65%;
	margin: 0 0 0 34%;
}

.bottompanes{
	height: 23%;
	width: 100%;
}

.bottompanes > div{
	height: 100%;
	margin: 0 2% 0 2%;
}

.status-pane.opt{
	width: 95%;
}

.status-pane.sched{
	background-color: rgb(58, 90, 58);
	width: 25%;	
}

.tips{
	color: whitesmoke;
	height:100%;
	width: 80%;
	margin: 0 0 0 19%;
}

.tip-box{
	background-color: rgba(128, 128, 128, 0.40);
	width: 20%;
	height: 100%;
	display: inline;
	list-style-type: none;
	margin-left: 18px;
	float:left;
	font-size: 25px
}

.status-pane.sched img{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40%;
	height: 60%;
}

.status-pane.sched h2{
	color:whitesmoke;
}
