@font-face {
  font-family: 'Lato-thin';
  src: url("../images/LatoFontSet/Lato-Hai.ttf");
}

@font-face {
  font-family: 'Lato-light';
  src: url("../images/LatoFontSet/Lato-Lig.ttf");
}

@font-face {
  font-family: 'Lato-regular';
  src: url("../images/LatoFontSet/Lato-Reg.ttf");
}

@font-face {
  font-family: 'Lato-bold';
  src: url("../images/LatoFontSet/Lato-Bol.ttf");
}

@font-face {
  font-family: 'Lato-thick';
  src: url("../images/LatoFontSet/Lato-Bla.ttf");
}
/*background: -webkit-gradient(linear, left top, left bottom, from(#AF3C3C), to(#2C0606)) no-repeat center center fixed;
        -webkit-background-size: cover;
*/
*{
    margin:0;
    padding:0;
}

html{ 
    height: 768px;
    width: 1024px;
    position:relative;
    font-family: "Lato-thin";
    color: whitesmoke;
    background: rgb(216, 216, 216);
    -webkit-user-select: none; 
    overflow: hidden;
}

body{
    height: 100%;
    width:100%;
    position:relative;
    z-index: -10;
}

h1{
    font-size: 75px;
}

h2{
    font-size: 30px;
}

#viewport{
  margin: 0 auto;
  width: inherit;
  height: inherit;
  z-index: -10;
  background-image: url('/static/images/renderlight.png');
  background-size: 100% 80%;
  background-position:bottom;
  background-repeat:no-repeat;
}
