@font-face{
    font-family: "neou";
    src: url("../images/neou-t.ttf");
}

@font-face {
  font-family: 'Lato';
  src: url("../images/lato.woff");
}

/*background: -webkit-gradient(linear, left top, left bottom, from(#AF3C3C), to(#2C0606)) no-repeat center center fixed;
        -webkit-background-size: cover;
*/
*{
    margin:0;
    padding:0;  
}

html{ 
    height: 800px;
    width: 1380px;
    position:relative;
    font-family: "Lato";
    color: whitesmoke;
    -webkit-user-select: none; 
    overflow: hidden;
}

body{
    height: 100%;
    width:100%;
    background: rgb(95, 94, 90);
    background-image: url('/static/images/render2.png');
    background-size: 100% 100%;
    background-repeat:no-repeat;
    position:relative;
    z-index: -10;
}

h1{
    font-size: 75px;
}

h2{
    font-size: 30px;
}

#viewport{
    position:relative;
    height: 100%;
    width: 100%;
    z-index: -10;

}
