.seriesdatalist{
	margin: 5px;
	list-style: none;
	background-color: rgba(0, 15, 30, 0.8);
}

.seriesdatalist li{
	width: 282px;
	float:left;
	border-bottom: solid rgba(0, 15, 30, 1) 1px; 
	-webkit-transition:height .25s linear;
}

.seriesdatalist li .seriesdatatable{  
	opacity: 0;
	display: none;
	-webkit-transition:all .25s linear;
} 

.seriesdatalist li.selected .seriesdatatableheader .key,
.seriesdatalist li.selected .seriesdatatableheader .icon{
	background-color: rgba(0,0,0,0.15)
}

.seriesdatalist li.selected .seriesdatatable{
	opacity: 1;
	display: table;
}

.seriesdatatableheader,
.seriesdatatable{
	float:left;
	table-layout: fixed;
	border-collapse:collapse;
}

.seriesdatatableheader{
	font-size: 20px;
	color: rgba(245,245,245,1);
}

.seriesdatatableheader tr{
}

.seriesdatatableheader .icon{
	width: 10%;
	text-align: center;
	cursor: pointer;	
}

.seriesdatatableheader .key{
	padding-left: 5px;
	width: 65%;	
	text-align: left;
}

.seriesdatatableheader .value{
	width: 75px;
	text-align: center;
	background-color: rgba(0,0,0,0.15);
}


.seriesdatatable{
	font-size: 14px;
	color: rgba(245,245,245,0.7);
	width: 282px;
}

.seriesdatatablerow{
	height: 20px;
}

.seriesdatatable .icon{
	width: 5%;
}

.seriesdatatable .key{
	padding-right: 10px;
	width: 70%;	
	text-align: right;
}

.seriesdatatable .value{
	width: 71px;
	text-align: center;
	background-color: rgba(0,0,0,0.15);
}


.seriesdatatable td{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}