.seriesdatalist{
	list-style: none;
	height: 100%;
}

.seriesdatalist li{
	height: 20%;
	width: 100%;
	float:left;
	cursor:pointer;

	-webkit-transition:height .25s linear;
}

.seriesdatalist li .seriesdatatable{   
	display:none;

	-webkit-transition:display .25s linear;
} 

.seriesdatalist li.selected{   
	height: 35%;
}

.seriesdatalist li.selected .seriesdatatable{   
      display:block;
} 

.costdata{
	background-color: rgba(223,144,1,1);
}

.seriesdatatableheader,
.seriesdatatable{
	float:left;
	table-layout: fixed;
	border-collapse:collapse;
	width: 100%;
}

tbody,
tr{
	width:100%;
}

.seriesdatatableheader{
	font-size: 20px;
	color: rgba(245,245,245,1);
	margin-top:5px;
}

.seriesdatatable{
	font-size: 14px;
	color: rgba(245,245,245,0.7);
	border-collapse: separate;
	border-spacing: 5px;
	height:30px;
}

.seriesdatatableheader .key{
	width: 70%;	
	text-align: left;
}

.seriesdatatableheader .value{
	width: 30%;
	text-align: right;
}

.seriesdatatable .key{
	width: 15%;
	text-align: right;
}

.seriesdatatable .value{
	width: 15%;
	text-align: left;
}

.seriesdatatable tr{
	height: 33%
}

.seriesdatatable td{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}