#treemap {
  width: 456px;
  height: 375px;
}

text {
  pointer-events: none;
  fill: whitesmoke;
}

.grandparent text {
  font-size: 25px;
  font-weight: bold;
}

rect {
  fill: none;
  stroke:rgba(0, 15, 30, 0.8);
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: rgba(0, 15, 30, 0.8);
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

rect.parent {
  pointer-events: all;
}

.children:hover rect.child,
.grandparent:hover rect {
  fill: #aaa;
}

.bodywrapper,
.divwrapper{
  height: 100%;
  width:100%;
}

.nodename{
  color: whitesmoke;
  word-wrap:break-word;
}
