<link href="/static/css/databox.css" rel="stylesheet" type="text/css">
<% dictionary = window.Dictionary %>
<style>
	.header.<%=databox.id%>{
		background-color: <%=rgbaToString(databox.color, 1)%>;
	}

	.header.<%=databox.id%> input[type="radio"]:checked + label{
		color: <%=rgbaToString(databox.color, 1)%>;
	}

</style>
<div class='header <%=databox.id%>'>
	<img class='databoxicon' src="/static/images/icons/<%=databox.id%>.png"</img>
	<div class='dataviewselection'>
		<% 
			$.each(subviews, function(i,subview){
		%>

		<span>
		<input id="<%=subview.id+'/'+databox.id%>" name="<%=databox.id%>-view-selection" type="radio" value="table" class='contentselection'

		<%
			if(subview.id == currentcontent){
		%>
			checked="checked" 
		<%
		}	
		%>	
		
		>
		</input>
		<label for="<%=subview.id+'/'+databox.id%>">
			<%= dictionary.key(subview.id) %>
		</label>
		</span>

		<%
		});
		%>
	</div>
</div>

<div id='databoxcontentwrapper' class='content'>
</div>
