<div class="container_12">
  <div class="grid_3">
    <a href="#control/light">
      <h2><div class="icon"></div><br />Light</h2>
    </a>
  </div>
  <div class="grid_3">
    <a href="#control/heat">
      <h2><div class="icon"></div><br />Heat</h2>
    </a>
  </div>
  <div class="grid_3">
    <a href="#control/power">
      <h2><div class="icon"></div><br />Power</h2>
    </a>
  </div>
  <div class="grid_3">
    <a href="#control/water">
      <h2><div class="icon"></div><br />Water</h2>
    </a>
  </div>
</div>