<div id="controller">
	<div id="hvac" class="panel">
		<!-- <img class="icon" src="/static/images/hvac.png"> -->
		<div id="hvacdataholder">
			<span class="hvacdatacat">out<span class="hvacdataval"><%= (60 + Math.random()*40).toFixed(1) %></span> °F</span>
			<span class="hvacdatacat">in<span class="hvacdataval"><%= (60 + Math.random()*40).toFixed(1) %></span> °F</span>
		</div>
		<div id="hvaccontrollerwrapper">
			<div id="hvaccontroller">
				<div id="hvaccontrollerup">

				</div>
				<div id="hvaccontrollerinput">
					<input type="number" id="hvaccontrollertemp" step=".1" value="<%= (60 + Math.random()*40).toFixed(1) %>" min="60" max="100">
				</div>
				<div id="hvaccontrollerdown">
				</div>
			</div>
		</div>

		<h2 class="controltext">HVAC</h2>
	</div>

	<% 
		var production = data.power.production;
		var consumption = data.power.consumption;  
		var currdata1 = function( foo ){
			return "<div class=" + foo + ">" +
				"<h5>Pro " + production.toFixed(1) + " kW</h5>" +
				"<h5>Con " + consumption.toFixed(1) + " kW</h5>" +
				"<h5 id='net'>Net "  + (production-consumption).toFixed(1) + " kW</h5>" +
			"</div>"
			};

		var currdata = function( foo ){
			return "<div class=" + foo + ">" +
				"<h5 id='net'>"  + (production-consumption).toFixed(1) + " kW</h5>" +
			"</div>"
			};

		if(production > consumption) {
			var status = 'surplus';
			var height = (consumption/production);
		} else {
			var status = 'deficiency';
			var height = (production/consumption);
		}
	%>

	<div id="power" class="panel <%= status %>">

		<img class="icon" src="/static/images/power.png">

		<div class="powergraphdiv" style="height:<%=height*100%>%">
		
		<% if(height>.5){ %>
			
			<%=currdata("dataholderabove")%>
		</div>
		
		<%} else {%>
		
		</div>
		<%=currdata("dataholderbelow")%>
		
		<%}%>


		<h2 class="controltext">Power</h2>
	</div>
	<div id="liquidentertainment">
		<div id="water" class="panel">
			<img class="icon" src="/static/images/water.png">
			<h3 class="controltext">Water</h3>
		</div>
		<div id="media" class="panel">
			<img class="icon" src="/static/images/media.png" >
			<h3 class="controltext">Media</h3>
		</div>
	</div>
</div>