<link href="/static/css/light.css" rel="stylesheet" type="text/css">
<style>
	
	
</style>

<div class='light'>
    <button class='lightname <%=this.type%> <%=this.status%>'>
    <%=model.id%>
    </button>
    <div class='lightcontrolwrapper'>
        <div class='sliderholder'>
        </div>
    </div>
</div>
<% 
if(model.get('type') == 'rgb'){
%>
	<style>
		.lightname.rgb.on{
			color: <%=colorhex%>;
		}
	
		.sliderholder .ui-slider-range{
		   	background: <%=colorhex%>;
		}
	</style>

	<div class='hslslider'>
	</div>
<%
}
%>