<link href="/static/css/nav.css" rel="stylesheet" type="text/css">
<style>
	.pagetitle{
		color: <%=rgbaToString(currpane.color,1)%>;
	}
</style>
<div id="topbar-wrapper">
	<img class="nav-button home-nav home" src="/static/images/logo.png">
	<h1 class='pagetitle'><%= currpane.name %> </h1>
	<div class="topbar">
		<ul class="main-nav">

<%
_.each(panes, function(pane){
%>

 <style type="text/css">
	<%='.' + pane.id%> {
	    color: <%=rgbaToString(pane.color,1)%>;
	    border-color: <%=rgbaToString(pane.color,1)%>;
	}

	<%='.' + pane.id%>.icon-nav{
	    background-color: <%=rgbaToString(pane.color,1)%>;
	}
</style>
			<li class="nav-button icon-nav <%=pane.id%>">
					<img src=<%='/static/images/icons/' + pane.id + '.png'%> >
			</li>
<%
});
%>	
		</ul>
	</div>
</div>

<div id="dashboard-wrapper">
</div>