<link href="/static/css/tableentry.css" rel="stylesheet" type="text/css">
<div class='tableentrywrapper'>
		<div class='tableentryid'>
			<% if (Windoor.getTotalOpen() != "0") { %>
			     <% print('Your door is open!'); %>
			<%}
			else { %>
			<% } %>
		</div>
		<div class='tableentryvalue'>
			<span class='value'>
				<% if (Windoor.getTotalOpen() != "0") { %>
			    	<%= model.get('name') %> open 
				<%}else {%>
			
				<% } %>
			</span>
			
<!--  			<span class='unit'>
				<%=model.get('unit')%>
			</span> -->
		</div>
</div>
