<link href="/static/css/tableentry.css" rel="stylesheet" type="text/css">
<div class='tableentrywrapper'>
		<div class='tableentryid'>
			<% if (model.get('val') != "1") {
			     print('Your door is open!');
			}
			else {
			} %>
		</div>
		<div class='tableentryvalue'>
			<span class='value'>
				<% if (model.get('val') != "1") { %>
			    	<%= model.get('name') %> open 
				<%}else {%>
			
				<% } %>
			</span>
			
<!--  			<span class='unit'>
				<%=model.get('unit')%>
			</span> -->
		</div>
</div>
