<link href="/static/css/pagetaskbar.css" rel="stylesheet" type="text/css">
<style>
	button.histdata.selected{
		background-color: <%=rgbaToString(color, 1)%>;
	}
</style>
<% console.log(range) %>
<div class="taskbar">
	<div class='historybuttons'>
		<ul class="historybuttonslist">
			<li>
				<button id='today' class='histdata <%= (range == "today") ? 'selected' : '' %>'>
					Today
				</button>
			</li>
			<li>
				<button id='day' class='histdata <%= (range == "day") ? 'selected' : '' %>'>
					24 Hour
				</button>
			</li>
			<li>
				<button id='week' class='histdata <%= (range == "week") ? 'selected' : '' %>'>
					7 Day
				</button>
			</li>
		</ul>
	</div>
	<div id="graphwrapper" class="graphwrapper">
	</div>
	<div id="statuswrapper" class="statuswrapper">
		
	</div>
</div>