<link href="/static/css/power.css" rel="stylesheet" type="text/css">
<div class='powerpagecontent'>
	<div class='top netwrapper'>
		<h2 class='power subheader'>Net Metering</h2>
		<div class='net content'>
		</div>
	</div>
	<div class='bottom consumptionwrapper'>
		<h2 class='power subheader'>Consumption</h2>
		<div class='consumption content'>

		</div>
	</div>
	<div class='bottom generationwrapper'>
		<h2 class='power subheader'>Generation</h2>
		<div class='generation content'>

		</div>
	</div>
</div>