<link href="/static/css/power.css" rel="stylesheet" type="text/css">
<div class='powerpagecontent'>
	<div class='top netwrapper'>
		<div class='net content'>
			<div id='graphwrapper'>
			</div>
		</div>
	</div>
	<div class='bottom generationwrapper'>
		<div class='header'>
			<h2 class='power subheader'>Generation</h2>
			<div class='dataviewselection'>
				<span>
				<input id="table" name="generation-view-selection" type="radio" value="table" checked="checked" ></input>
				<label for="table">Table</label>
				</span>
				
				<span>
				<input id="graphic" name="generation-view-selection" type="radio" value="graphic" ></input>
				<label for="graphic">Graphic</label>
				</span>
				
				<span>
				<input id="history" name="generation-view-selection" type="radio" value="history" ></input>
				<label for="history">History</label>
				</span>
			</div>
		</div>
		<div id='generationwrapper' class='generation content'>

		</div>
	</div>
	<div class='bottom consumptionwrapper'>
		<div class='header'>
			<h2 class='subheader'>Consumption</h2>
			<div class='dataviewselection'>
				<span>
				<input id="table" name="consumption-view-selection" type="radio" value="table" checked="checked" ></input>
				<label for="table">Table</label>
				</span>
				
				<span>
				<input id="graphic" name="consumption-view-selection" type="radio" value="graphic" ></input>
				<label for="graphic">Graphic</label>
				</span>
				
				<span>
				<input id="history" name="consumption-view-selection" type="radio" value="history" ></input>
				<label for="history">History</label>
				</span>
			</div>
		</div>
		<div id='consumptionwrapper' class='consumption content'>
		</div>
	</div>
</div>