<link href="/static/css/status.css" rel="stylesheet" type="text/css">
<div class='dashboard'>
 			<div class='home-status-wrapper'>
         		<div class='toppanes'>
         			<div class='nav-button status-pane lights'>
         				<h2>Lights</h2>
         				<div class="status-box">
         					<h4>
         						<span class='data'>3</span><br />
         						<span class='notdata'>lights on</span>
         					</h4>
         				</div>
         			</div>
         			<div class='nav-button status-pane hvac'>
         				<h2>HVAC</h2>
         				<div class="status-box">
         					<h4>
         						<span class='notdata'>Inside</span><br />
         						<span class='data'><%=Temp.getAvgTemp()%></span>
         						<span class='unit'>°C</span>
         					</h4>
         					<h4>
         						<span class='notdata'>Target</span><br />
         						<span class='data'><%=HVAC.getTemp()%></span>
         						<span class='unit'>°C</span>
         					</h4>
         				</div>
         			</div>
         		</div>
         		<div class='middlepanes'>
         			<div class='nav-button status-pane windoor'>
         				<h2>Windows & Doors</h2>
                     <div class="status-box">
                        <h4>
                           <span class='data'>2</span><br />
                           <span class='notdata'>windows/doors open</span>
                        </h4>
                     </div>
         			</div>
         			<div class='nav-button status-pane power'>
         				<h2>Power</h2>
         				<div class="status-box">
         					<h4>
                    <span class='notdata'>consumption</span><br />
                    <span class='data'> <%=Power.getTotalConsumption()%></span>
                    <span class='unit'>W</span>
                  </h4>
                  <h4>
                    <span class='notdata'>production</span><br />
                    <span class='data'> <%=PV.getTotalProduction()%></span>
                    <span class='unit'>W</span>
                  </h4>
         				</div>
         			</div>
         			<div class='nav-button status-pane water'>
         				<h2>Water</h2>
         				<div class="status-box">
         					<h4>
         						<!--
         						<span class='notdata'>today</span><br />
         						-->
         						<span class='data'>17</span>
         						<span class='unit'>L</span>
         					</h4>
         				</div>
         			</div>
         		</div>
         		<div class='bottompanes'>
         			<div class='nav-button status-pane opt'>
         				<h2>Optimizer</h2>
         				<ul class='tips'>
         					<li class='tip-box'>
         						<div class='just-the-tip'>
         							production is less than consump-tion
         						</div>
         					</li>
         					<li class='tip-box'>
         						<div class='just-the-tip'>
         							your doors are unlocked
         						</div>
         					</li>
         				</ul>
         			</div>
         		</div>
         	</div>
     	</div>