<link href="/static/css/status.css" rel="stylesheet" type="text/css">
<% dictionary = window.Dictionary %>
<div class='dashboard'>
 			<div class='home-status-wrapper'>
         		<div class='toppanes'>
         			<div class='nav-button status-pane power'>
                    	<h2><%= dictionary.key('power') %></h2>
                     	<div id='statuspower' class="status-box">
	                        
	                    </div>
                  	</div>
         			<div class='nav-button status-pane hvac'>
         				<h2><%= dictionary.key('hvac') %></h2>
         				<div id='statushvac' class="status-box">
         					
         				</div>
         			</div>
         		</div>
         		<div class='middlepanes'>
         			<div class='nav-button status-pane windoor'>
						<h2><%= dictionary.key('windoorlong') %></h2>
						<div id='statuswindoor' class="status-box">
                     <img src='/static/images/newicons/windooropen.png'>
						</div>
         			</div>
					<div class='nav-button status-pane lights'>
						<h2><%= dictionary.key('lights') %></h2>
						<div id='statuslights' class="status-box">
						</div>
					</div>
	     			<div class='nav-button status-pane water'>
	     				<h2><%= dictionary.key('water') %></h2>
	     				<div id='statuswater' class="status-box">
	     					
	     				</div>
	     			</div>
         		</div>
         		<div class='bottompanes'>
         			<div class='nav-button status-pane opt'>
         				<h2><%= dictionary.key('opt') %></h2>
         				
         			</div>
         		</div>
         	</div>
     	</div>
