<link href="/static/css/taskbarstatus.css" rel="stylesheet" type="text/css">
<style>
	.seriesdatalist li{
		height: <%=taskbarcollapsed + 'px'%>;
	}

	.seriesdatalist li.selected{
		height: <%=taskbaropen + 'px'%>;
	}
</style>
<ul class="seriesdatalist">
<% 
for( var i=0; i<statusArray.length; i++){
	statusdata = statusArray[i]
	selected = (i == accordianselection) ? 'selected' : '';
	icon = (i == accordianselection) ? '-' : '+';
%>
	<style>
		.seriesdata.<%=statusdata.name%>{
			background-color: <%=rgbaToString(statusdata.color, 1)%>;
		}

		.seriesdata.<%=statusdata.name%> .seriesdatatableheader{
			height: <%=taskbarcollapsed + 'px'%>;
			width:100%;
		}
	</style>


	<li class="seriesdata <%=statusdata.name%> <%=selected%>">
		<table class="seriesdatatableheader">
			<tr>
				<td class='icon'>
					<%=icon%>
				</td>
				<th class='key'>
					<%=statusdata.title%>
				</th>
				<th class='value'>
					<%=statusdata.value%>
				</th>
			</tr>
		</table>
		<table class="seriesdatatable">
	<% 
	for( var j=0; j<statusdata.subvalues.length; j++){
		subvalue = statusdata.subvalues[j]
	%>

			<tr class='seriesdatatablerow'>
				<td class='key'>
					<%=subvalue.key%>
				</td>
				<td class='value'>
					<%=subvalue.value%>
				</td>
			</tr>
	<% 
	}
	%>
		</table>
	</li>
<%
}
%>
</ul>