<link href="/static/css/taskbarstatus.css" rel="stylesheet" type="text/css">
<ul class="seriesdatalist">
<% 
pro = collections[0].collection.getSum()
con = 0
//con = collections[1].collection.getSum()
net = pro - con
rate = .75
for( var i=0; i<collections.length; i++){
	collection = collections[i]
	min = (Math.random()*50);
	max = (Math.random()*50 + 50);
	avg = (max+min)/2
	min = min.toFixed(0)
	max = max.toFixed(0)
	avg = avg.toFixed(0)

%>
	<style>
		.seriesdata.<%=collection.name%>{
			background-color: <%=rgbaToString(collection.color, 1)%>;
		}
	</style>


	<li class="seriesdata <%=collection.name%>
	<%
		if(accordianselection == collection.name){
	%>
		selected
	<%
	}
	%>
	">
		<table class="seriesdatatableheader">
			<tr>
				<th class='key'>
					<%=collection.name%>
				</th>
				<th class='value'>
					<%=collection.collection.getSum()%> W
				</th>
			</tr>
		</table>
		<table class="seriesdatatable">
			<tr class='seriesdatatablerow'>
				<td class='key'>
					Min
				</td>
				<td class='value'>
					<%=min%> W
				</td>
				<td class='key'>
					Max
				</td>
				<td class='value'>
					<%=max%> W
				</td>
				<td class='key'>
					Avg
				</td>
				<td class='value'>
					<%=avg%> W
				</td>
			</tr>
		</table>
	</li>
<%
}
%>
	<li class="costdata Cost
	<%
		if(accordianselection == 'Cost'){
	%>
		selected
	<%
	}
	%>
	">
		<table class="seriesdatatableheader">
			<tr>
				<th class='key'>
					Cost <span style='font-size:14px;'>(<%=rate%>元/kWh)</span>
				</th>
				<th class='value'>
					<%=(net*rate).toFixed(0)%>元
				</th>
			</tr>
		</table>
		<table class="seriesdatatable">
			<tr class='seriesdatatablerow'>
				<td class='key'>
					Pro
				</td>
				<td class='value'>
					<%=pro%> Wh
				</td>
				<td class='key'>
					Con
				</td>
				<td class='value'>
					<%=con%> Wh
				</td>
				<td class='key'>
					Net
				</td>
				<td class='value'>
					<%=net%> Wh
				</td>
			</tr>
		</table>
	</li>
</ul>